# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# ChromaDB persistent storage
chroma_db/

# (old / optional)
.chromadb/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

#context generation file
derive_context.py